<div class="container">
  <table class="table" *ngIf="orderLines?.length>0">
    <thead>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Amount</th>
      <th scope="col">price</th>
      <th scope="col"></th>
    </thead>
    <tbody>
      <tr *ngFor="let orderLine of orderLines">
        <td>{{orderLine.lineNumber}}</td>
        <td>{{orderLine.item.name}}</td>
        <td>{{orderLine.amount}}</td>
        <td>{{orderLine.item.price}}$</td>
        <td><i class="fa fa-trash" (click)="delete(orderLine.lineNumber)" style="cursor: pointer;"></i></td>
      </tr>
    </tbody>
  </table>
  <h3 *ngIf="!orderLines || orderLines.length === 0" class="m-3">There are no items in the cart</h3>
</div>
<button class="btn btn-outline-dark" (click)="collapse()">Close</button>
<button class="btn btn-outline-danger" (click)="reset()">Reset</button>
<button class="btn btn-outline-primary" [routerLink]="['/checkout']" >Check-Out</button>