<div class="card mb-4" [routerLink]="['/orders-management/', orderHeader.id]">
    <div class="card-body p-1">
      <h6 class="card-title text-center mb-1">
        Order Number:{{orderHeader?.id}}
        <br>
        Client Name: {{orderHeader?.clientFirstName}} {{orderHeader?.clientSureName}}
      </h6>
      <p class="card-text text-muted text-center">
        Date Created: {{orderHeader?.dateCreation | date:'dd/MM/yyyy'}}
        <br>
        To Date:{{orderHeader?.dateTarget | date:'dd/MM/yyyy'}}
      </p>
    </div>
  </div>