.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 700ms;
    transition-timing-function: ease-out;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 700ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.animate {
    transition: all 0.3s ease-in-out;
}

.card {
    width: 288px;
    height: 288px;
    float: left;
    margin: 10px;
}

.active {
    color: green;
}

.inactive {
    color: red;
}