<div class="card mb-4">
    <div class="card-header bg-transparent border-success">
      <h5 [ngClass]="{active: item.isActive, inactive: !item.isActive}">
        <i class="fa fa-ban"></i>
      </h5>
    </div>
    <div class="card-img-wrapper">
      <img src="{{item.photoUrl || '../assets/images/logo.png'}}" alt="{{item.name}}" class="card-img-top">
    </div>
    <div class="card-body p-1">
      <h6 class="card-title text-center mb-1">
        {{item.name}}, {{item.price}} $
      </h6>
      <p class="card-text text-muted text-center">
        {{item.description}}
      </p>
    </div>
  </div>