<app-nav></app-nav>
<div id="sidebar" class="{{collapsed}}">
  <app-order-panel></app-order-panel>
</div>
<div class="container mt-4 mb-4" id="content">
  <div class="container mt-4">
    <div class="row">
      <div class="col justify-content-center">
        <div class="row">
          <img src="../assets/images/logo.png" alt="hi" class="logo">
        </div>
        <div class="row justify-content-center">
          <p>welcome dear customer!</p>
        </div>
        <div class="row justify-content-center">
          <p>Here you can order our delicios products</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<div class="container mt-4 items-container" style="clear:both;">
  <div class="col">
    <div *ngFor="let item of items" class="item-cards" style="cursor: pointer;">
      <app-item-card [item]="item" (click)="addItemToOrder(item)"></app-item-card>
    </div>
  </div>
</div>


<router-outlet></router-outlet>