<div class="container">
  <h1>Order Number: {{orderHeaders?.id}}</h1>
  <div class="col-sm-6">
    <div class="row">
      <button class="btn btn-outline-warning" (click)="customerDetailsForm.enable()">Edit</button>
    </div>
    <div class="row">
      <form [formGroup]="customerDetailsForm" class="form-group" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstName">First Name:*</label>
          <input type="text" formControlName="firstName" id="firstName" placeholder="First Name" class="form-control">
          <span
            *ngIf="!customerDetailsForm.get('firstName').valid && customerDetailsForm.get('firstName').touched">First
            Name is requierd</span>
        </div>
        <div class="form-group">
          <label for="sureName">Sure Name:*</label>
          <input type="text" formControlName="sureName" id="sureName" placeholder="Sure Name" class="form-control">
          <span *ngIf="!customerDetailsForm.get('sureName').valid && customerDetailsForm.get('sureName').touched">Sure
            Name is requierd</span>
        </div>
        <div class="form-group">
          <label for="mobileNumber">Mobile Number:*</label>
          <input type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{4}-[0-9]{4}" formControlName="mobileNumber"
            id="mobileNumber" placeholder="044-55-1111-1111" class="form-control">
          <span
            *ngIf="!customerDetailsForm.get('mobileNumber').valid && customerDetailsForm.get('mobileNumber').touched">Mobile
            Number Is Requierd in this pattern: 044-55-1111-1111</span>
        </div>
        <div class="form-group">
          <label for="email">Email Address:*</label>
          <input type="email" formControlName="email" id="email" placeholder="Email" class="form-control">
          <span *ngIf="!customerDetailsForm.get('email').valid && customerDetailsForm.get('email').touched">Email is
            requierd</span>
        </div>
        <div class="form-group">
          <label for="address">Address:*</label>
          <input type="text" formControlName="address" id="address" placeholder="Address,Zip Code, Street"
            class="form-control">
          <span *ngIf="!customerDetailsForm.get('address').valid && customerDetailsForm.get('address').touched">Address
            is requierd</span>
        </div>
        <div class="form-group">
          <label for="dateReady">Date To Be Ready:*</label>
          <input type="date" formControlName="dateReady" id="dateReady" class="form-control">
          <span *ngIf="!customerDetailsForm.get('dateReady').valid && customerDetailsForm.get('dateReady').touched">Date
            is invalid</span>
        </div>
        <div class="form-group">
          <label for="notes">Notes:</label>
          <textarea formControlName="notes" id="notes" cols="30" rows="3" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-outline-primary" [disabled]="!customerDetailsForm.valid">Save
          Order</button>
        <hr>
        <div>
          <p>* Is requiered</p>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <h1>Details</h1>
    </div>
    <div class="row">
      <table class="table" *ngIf="orderLines?.length>0">
        <thead>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Amount</th>
          <th scope="col">price</th>
          <th scope="col">Line Price</th>
          <th scope="col"></th>
        </thead>
        <tbody>
          <tr *ngFor="let orderLine of orderLines">
            <td>{{orderLine.lineNumber}}</td>
            <td>{{orderLine.item.name}}</td>
            <td>
              <i class="fa fa-minus" *ngIf="orderLine.amount>1" style="cursor: pointer"
                (click)="changeAmount(orderLine.lineNumber, orderLine.amount-1)"></i>
              {{orderLine.amount}}
              <i class="fa fa-plus" *ngIf="orderLine.amount<999" style="cursor: pointer"
                (click)="changeAmount(orderLine.lineNumber, orderLine.amount+1)"></i>
            </td>
            <td>{{orderLine.item.price}}$</td>
            <td>{{orderLine.amount*orderLine.item.price}}$</td>
            <td><i class="fa fa-trash" (click)="delete(orderLine.lineNumber)" style="cursor: pointer;"></i></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><button class="btn btn-outline-success">add Item</button></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>total:</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong>{{orderHeaders.totalPrice}}$</strong></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>