.col-sm-6 {
    float: left;
}

.fa-edit {
    color: green;
}

span {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px red solid;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
.dark-modal .close {
    color: white;
  }
.light-blue-backdrop {
    background-color: #5cb3fd;
}