.names {
    display:inline-block;
    margin: 10px;
}

form {
    align-content: center;
    align-items: center;
}

div.row {
    align-content: center;
    align-items: center;
}

span {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px red solid;
}