<div class="container">
  <div class="row mt-3">
    <label for="fromDate">from date</label>
    <input id="fromDate" type="date">
    <label for="toDate">to date</label>
    <input id="toDate" type="date">
    <button (click)="sortOrdersByStatus()">Enter</button>
  </div>
  <div class="row mt-3">
    <div class="col-sm new-orders">
      New Orders
    </div>
    <div class="col-sm in-process">
      In-Process
    </div>
    <div class="col-sm done">
      Done
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm new-orders">
      <div class="item-cards" style="cursor: pointer;" *ngFor="let orderHeader of ordersNew">
        <app-order-card [orderHeader]="orderHeader"></app-order-card>
      </div>
    </div>
    <div class="col-sm in-process">
      <div class="item-cards" style="cursor: pointer;" *ngFor="let orderHeader of ordersInProcess">
        <app-order-card [orderHeader]="orderHeader"></app-order-card>
      </div>
    </div>
    <div class="col-sm done">
      <div class="item-cards" style="cursor: pointer;" *ngFor="let orderHeader of ordersDone">
        <app-order-card [orderHeader]="orderHeader"></app-order-card>
      </div>
    </div>
  </div>
</div>